<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Lalish-Menagh 25th of December Gift Bonanza, <%= @attendee.name %>!</h1>
    <p>Soon you will get an email with your Sinterklaas person that you will be getting a small gift for. The goal is to have fun, so let's do that!</p>
    <p><em>Note: I am writing this app at 2 in the morning, so you might get a couple test emails. Bear with me. - Trev</em></p>
    <p>Love,<br />Signe, Trevor, Orson and Eowyn</p>
  </body>
</html>